* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    margin: 0 0 55px 0;
    background-color: #303032;
}


canvas{
max-height: auto;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 25px;
}




/*Cusom tuning page*/



/*
* {box-sizing: border-box;}



.container {
  border-radius: .5em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 200px;
}
*/
.custom_tunings fieldset {
  border: 2px solid gray;
  border-radius: 5px;
  width: 30%;
  margin: auto;
  padding: 20px;
  min-width: 85%;
  color: white;

}
.custom_tunings button {
  width:30%;
  min-width: 40%;
  border-radius: 5px;
  border: 3px solid gray;
}

.custom_tunings input{
  width: 100%;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
}


h1{
  text-align: center;
  padding: 20px;
  background-color: #083e98;
  color: white;
  font-family: music;
  font-weight: normal;
}



main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}


.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}

.chords {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.chord {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
}



.chord_image{
  width: 100%;
  padding-top: 56.25%;
  overflow: visible;
  position: relative;
}

.chord_image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chord_content {
  padding: 20px;
}



.chord_info {
  padding: 20px;
  display: flex;
  align-self: end;
  min-height: 20px;
  align-items: center;
}

.chord_play {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .chord {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .chord {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .chords {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .chord {
    grid-column-end: span 6;
  }
}

#isoutput{
  overflow: auto;
}

@font-face { 
  font-family: music; 
  src: url('../Guitar.ttf'); 
}

.btn-sml{
  margin: 10px 0;
}

.formBox{
  margin: 10px 2px;
}